
:root{
  
    --page-bg: black;
    --page-bg2: yellow ; 
    --grid-margin: 1.5rem;
    --text-color: black;
    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --button-padding-y:1rem;
    --button-padding-x:2.25rem;
    --btn-color:yellow;
    --section-distance: 25rem;
    --section-distance-gap: 3.75rem;
    --badge-color: white;
    --second-color: orange;
  

  }

  .main{
    margin-top: 80px;
  }


  
.form-section{
  height: 90vh;
  align-content:center;
  margin-bottom: 5 rem; /* Add spacing below the section */

  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}



  .form-section h1,
  h2 {
    font-size: 3rem;
    color: var(--page-bg);
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
  }
  
  .form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
  }

  .form, 
.form label, 
.form input, 
.form textarea {
  color: var(--page-bg);
}
  
  .form label,
  .form input,
  .form textarea,
  .form button {
    display: block;
    width: 100%;
  }

  
  .form input,
  .form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 2px solid var(--page-bg);
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
    background-color: var(--page-bg2);
  }
  
  .form textarea {
    min-height: 13rem;
    resize: vertical;

  }
  
  .form input:hover,
  .form input:focus,
  .form textarea:hover,
  .form textarea:focus {
    outline: none;
    border-color: var(--page-bg);
    box-shadow: 0 0 0 3px var(--page-bg);
  }
  
  .form button {
    display: block;
    padding: 1rem;
    background: var(--page-bg2);
    color: var(--page-bg);

    font: inherit;
    text-transform: uppercase;
    border: 2px solid var(--page-bg);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .form button:hover,
  .form button:focus {
    outline: none;
    color: var(--page-bg2);
    background: var(--page-bg);
    border: none;
  }

  @media (max-width: 760px) {
    
        .form {
      width:80%;
      max-width: 32rem;
    }
    
    
        .form-section {
      padding: 2rem 1rem;
      box-sizing: border-box;
    }

    

  }