:root {
    --page-bg: black;
    --page-bg2: yellow;
    --grid-gap: 4rem;
    --grid-margin: 1.5rem;
    --text-color: black;
    --btn-color: white;
    --second-color: orange;
    --p-size: 1.5rem;
}



.filters-container{
    padding: 20px;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items:center ;
}


.search-group{
    padding: 20px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    width: 50%;

}

#search-input{
    padding: 10px;
    /*margin-left: 20px;*/
    width: 40%;
}

#search-button{


    width: 10px;
    margin: 10px;
    text-color: var(--page-bg2);
}

#category-filter{
    padding: 10px;
    border-radius: 4px;
    margin-left: 20px;
}

.toogle-check{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: bold;
}















