:root{
    --page-bg: black;
    --page-bg2: yellow ; /*cor do inicio da pagina, primeira do gradiente fixo*/
    --grid-gap: 0.75rem;
    --grid-margin: 1.5rem;
    --text-color: black;
    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --button-padding-y:1rem;
    --button-padding-x:2.25rem;
    --btn-color:yellow;
    --section-distance: 25rem;
    --section-distance-gap: 3.75rem;
    --badge-color: white;
    --second-color: orange;
  }


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    padding-bottom: 180px;
  padding-top: 60px;
}

footer{
    z-index: 1;
    
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 0, 0.801);
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:300px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}

p, h3{
    color: var(--text-color);
}

.list a{
    color: var(--text-color);
}



.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    text-decoration: none;
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: var(--second-color);
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: var(--page-bg);
    font-size: 25px;
}

 .f-link:link, .f-link:visited, .f-link:active {
    color: var(--page-bg); 
}

.social-icons i:hover{
    color: var(--second-color);
}
.bottom-bar{
    background: var(--page-bg);
    text-align: center;
    padding: 3px;

}
.bottom-bar p{
    color: var(--page-bg2);
    margin: 0;
    font-size: 16px;
    padding: 7px;
}


@media (max-width: 760px) {

    footer{
        position: static;
    }
    

    .bottom-bar p{

        font-size: 10px;

    }

    main{
        padding-bottom:16px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 2rem; /* espaço entre blocos */

    }

    .footer-content{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}